
/* --------------- Fondos de elementos ---------- */
/*#contenedor {background: green;}*/
header {background: radial-gradient(blue, black)}
/*nav{background: yellow;}*/
/*section {background: radial-gradient(rgba(0, 0, 125, 0.92), black);}*(
/*footer{background: rgba(0, 0, 155, 0.5);}*/
